.chat-detail {
  .message-detail-container {
    background: #eee;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    .chat-detail-content { 
      background: #eee;
    }
    .messages {
      padding: 10px 0;
      overflow: auto;
      .message-container {
        display: block;
        max-width: 80%;
        overflow: auto;
        float: left; 
        clear: both;
        position: relative;
      }
      .message {
        padding: 3px 5px;
        margin: 0 0 5px 20px;
        box-shadow: 0 1px 1px 1px #ccc;
        border-radius: 3px;
        background: #fff;
        img {
          max-width: 50%;
        }
      }
      .sender {
        font-weight: bold;
      }
      .last {
        margin-bottom: 10px;
        &:after {
          content: "";
          display: block;
          width: 0;
          height: 0;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-left: 10px solid #fff;
          position: absolute;
          bottom: 0px;
          left: 15px;
          -webkit-transform: rotate(45deg);
        }
      }
      .self {
        .message {
          background-color: #bdfcc9;
          margin: 0 20px 5px 0;
          box-shadow: 0 1px 1px 1px #ccc;
        }
        &.last {
          &:after {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 10px solid #bdfcc9;
            position: absolute;
            bottom: 0;
            left: initial;
            right: 15px;
            -webkit-transform: rotate(135deg);
          }
        }
      }
      .right, .self {
        float: right;
        position: relative;
      }
    }
  }
  .new-message-field { 
    border-top: 1px solid #ccc; 
    width: 100%; 
    position: absolute; 
    bottom: 0; 
  }
  .new-message-inputs { 
    padding: 10px; background-color: #fff; 
    input[type="text"] { border: 1px solid #eee; padding: 5px; width: 75%; }
    input[type="submit"] { border: 1px solid; width: 15%; }
    #msgEl { display: inline-block; width: 60%; padding: 5px; border: 1px solid #ccc; margin-left: 10%; }
    .send-link { color: #2281FB; position: absolute; bottom: 15px; right: 10px; }
    .upload-link { position: absolute;  bottom: 0; bottom: 13px; }
    .camera-link { position: absolute;  bottom: 0; bottom: 13px; margin-left: 15px; }
  }
}