.chat-list-container { 
  overflow-y: scroll; 
  -webkit-overflow-scrolling: touch; 
  .chat-list {
    li { 
      border-bottom: 1px solid #ccc; position: relative; 
      a { 
        display: block; padding: 10px; 
      }
    }
    .participants { 
      display: inline-block; 
      margin: 0 3px 0 0; 
      overflow-x: hidden; 
      white-space: nowrap; 
      width: 60%; 
      text-overflow: ellipsis; 
    }
    .lastMsg { 
      width: 70%; 
      overflow-x: hidden; 
      text-overflow: ellipsis; 
      white-space: nowrap; 
      img { 
        max-width: 25%; 
      }
    }
    .timestamp { 
      color: #999; 
      font-size: 0.8em;
      position: absolute;
      top: 12px;
      right: 10px;
    }
  }
}