.chat-list-container { overflow-y: scroll; -webkit-overflow-scrolling: touch; }
.chat-list li { border-bottom: 1px solid #ccc; position: relative; }
.chat-list li a { display: block; padding: 10px; }
.chat-list .participants { display: inline-block; margin: 0 3px 0 0; }
.chat-list .lastMsg { width: 70%; overflow-x: hidden; text-overflow: ellipsis; white-space: nowrap; }
.chat-list .lastMsg img { max-width: 25%; }
.chat-list .timestamp { color: #999; font-size: 0.8em; position: absolute; top: 12px; right: 10px; }