<section-header title="Chats" type="list"></section-header>
<div class="chat-list-container content-container" set-height>
  <ul class="chat-list">
    <li ng-repeat="chatObj in userChats | orderBy:'-lastDateTime'">
      <a ng-href="#!/detail/{{uid}}/{{chatObj.chat.chat_id}}">
        <div class="participants">
          <strong ng-repeat="participant in chatObj.chat.participants track by $index">{{ participant.firstName }}{{ $last ? '' : ', ' }}</strong>
        </div>
        <div class="lastMsg" ng-bind-html="chatObj.chat.messages[chatObj.chat.messages.length-1].text | imgFilter"></div>
        <div class="timestamp">{{ chatObj.chat.messages[chatObj.chat.messages.length-1].datetime | datetime }}</div>
      </a>
    </li>
  </ul>
</div>
